#soundboard-app {
  opacity: 1;
  transition: opacity 0.5s;
  min-width: 375px;
}
#soundboard-app:hover {
  opacity: 1 !important;
}

:root {
  --SoundBoard-loop-bg-from: #01701c;
  --SoundBoard-loop-bg-to: #1b291e;
  --SoundBoard-loop-animation-time: 1s;
  --SoundBoard-loop-active-icon-color: #42e600;
  --SoundBoard-loop-text-color: #fff;
  --SoundBoard-favorite-color: #feeb20;
  --SoundBoard-text-shadow: 0 0 2px #000;
  --SoundBoard-more-button-active-color:#969696;
  --SoundBoard-more-button-inactive-color:rgba(0, 0, 0, 0);
  --SoundBoard-more-button-hover-color: #dddddd;
  --SoundBoard-extended-options-bg: rgba(100, 100, 120, 0.94);
  --SoundBoard-extended-options-icon-color: #fff;
  --SoundBoard-btn-text-size: 1rem;
  --SoundBoard-volume-text-color: #fff;
  --SoundBoard-toolbar-color: #444444;
  --SoundBoard-toolbar-btn-active-color: #01701c;
}

@-webkit-keyframes expand-options {
  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes expand-options {
  0% {
    visibility: visible;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes looping-border {

  from,
  to {
    background-color: var(--SoundBoard-loop-bg-from)
  }

  50% {

    background-color: var(--SoundBoard-loop-bg-to);
  }
}

@keyframes looping-border {

  from,
  to {

    background-color: var(--SoundBoard-loop-bg-from);
  }

  50% {

    background-color: var(--SoundBoard-loop-bg-to);
  }
}

button.open-soundboard {
  flex-shrink: 1 !important;
  flex: unset !important;
  margin: 3px !important;
}

#soundboard-app {
  width: 700px;
  height: 700px;
  min-height: 300px;
  padding: 0 !important;
  border-radius: 10px !important;
}

#soundboard-app .window-header {
  background: var(--SoundBoard-toolbar-color);
  border-radius: 10px 10px 0 0;
  border-bottom: none;
}

#soundboard-app h2 {
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 10px;
}
#soundboard-help-app h2 {
  cursor: pointer;
  font-size: 1.5rem;
  padding-top: 10px;
}

#soundboard-app .btn {
  margin: 1px;
  white-space: initial;
  font-size: var(--SoundBoard-btn-text-size);
  /* Counteract Plutioniums css*/
}

#soundboard-app .btn.loop-active {
  -webkit-animation: looping-border var(--SoundBoard-loop-animation-time) linear infinite;
  animation: looping-border var(--SoundBoard-loop-animation-time) linear infinite;
  color: var(--SoundBoard-loop-text-color) !important;
  text-shadow: var(--SoundBoard-text-shadow) !important;
}

#soundboard-app .btn.favorited {
  border-color: var(--SoundBoard-favorite-color) !important;
  box-shadow: 0 0 3px #000 !important;
}

#soundboard-app .dropdown-smalltext {
  margin: 0 25px;
}

#soundboard-app .sb-play-button {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: unset !important;
  border: unset;
}

#soundboard-app .sb-play-button:hover {
  box-shadow: unset;
}

#soundboard-app .sb-play-button:focus {
  outline: unset;
}

#soundboard-app .sb-play-button:hover~.sb-more-button {
  color: var(--SoundBoard-more-button-active-color);
}

#soundboard-app .sb-more-button {
  width: 15px;
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  line-height: 0;
  background: none !important;
  border: none;
  font-size: 14px;
  color: var(--SoundBoard-more-button-inactive-color)
}

#soundboard-app .sb-more-button:hover {
  box-shadow: none;
  color: var(--SoundBoard-more-button-hover-color);
}

#soundboard-app .sb-more-button:focus {
  outline: none;
}

#soundboard-app .sb-extended-option-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 15px;
  height: auto;
  min-height: 100%;
  /* overflow: hidden; */
}

#soundboard-app .sb-extended-options {
  background: var(--SoundBoard-extended-options-bg);
  position: absolute;
  /* left: -100%; */
  top: 0;
  visibility: hidden;
  border-radius: 2px;
  width: 100% !important;
}

#soundboard-app .sb-extended-options.active {
  height: auto;
  min-height: 100%;
  visibility: visible;
  animation-name: expand-options;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#soundboard-app .sb-extended-info-button {
  background: none;
  border: none;
  color: var(--SoundBoard-extended-options-icon-color);
  text-shadow: var(--SoundBoard-text-shadow)
}

#soundboard-app .badge {
  text-shadow: none;
}

#soundboard-app .sb-extended-info-button:hover {
  box-shadow: none;
  background: rgba(200, 200, 200, 0.5);
}

#soundboard-app .sb-extended-info-button:focus {
  outline: none;
}

#soundboard-app #custom-time-input {
  margin-left: 20px;
  width: 30%;
}

#soundboard-app .custom-time-button {
  padding: 0;
}

#soundboard-app .row {
  width: initial;
  z-index: 1;
  /* Counteract Plutioniums css*/
}

#soundboard-app .short {
  padding: 0;
  margin: 0;
  height: fit-content;
}

#soundboard-app .dark {
  background: linear-gradient(180deg, rgba(68, 68, 68, 1) 3%, rgba(80, 80, 80, 1) 49%, rgba(68, 68, 68, 1) 98%);
}

#soundboard-app .notes {
  margin-top: 10px;
  margin-bottom: 10px;
}

#soundboard-app #stop-all {
  line-height: 0;
}

#soundboard-app #volume-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: var(--SoundBoard-toolbar-color);
  padding: 5px 25px 5px 15px;
  z-index: 1;
  height: 36px;
  border-radius: 0 0 5px 5px;
}

#soundboard-app #toolbar {
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0;
  background: var(--SoundBoard-toolbar-color);
  z-index: 1;
  height: 25px;
}

#soundboard-app .toolbar-btn {
  line-height: 0;
  width: initial;
}

#soundboard-app .toolbar-btn:focus {
  outline: none;
  box-shadow: none;
}

#soundboard-app .toolbar-btn.active {
  background: var(--SoundBoard-toolbar-btn-active-color) !important;
}

#soundboard-app .toolbar-btn * {
  line-height: 0;
}

#soundboard-app #expand-collapse-container {
  padding: 5px 16px;
}

#soundboard-app .window-content {
  margin-bottom: 30px; /* volume-container */
  margin-top: 25px; /* toolbar */
}

#soundboard-app #volume-text {
  margin: 0 10px;
  color: var(--SoundBoard-volume-text-color);
  align-self: center;
  text-shadow: var(--SoundBoard-text-shadow)
}

#soundboard-app i.fas.fa-star {
  color: var(--SoundBoard-favorite-color)
}
#soundboard-help-app i.fas.fa-star {
  color: var(--SoundBoard-favorite-color);
  text-shadow: var(--SoundBoard-text-shadow);
}

#soundboard-app .hidden {
  display: none;
}

#soundboard-app .sb-extended-info-button .loop-active {
  color: var(--SoundBoard-loop-active-icon-color)
}

#soundboard-app .window-resizable-handle {
  z-index: 2;
  border-radius: 4px 0 5px 0;
}

#soundboard-app .sb-warning {
  color: #ff0000 !important;
  text-decoration: underline !important;
}

.soundboard-container {
  margin: 0 20px 20px 20px;
  text-align: center;
}
.soundboard-help {
  text-align: left;
}