
/* TODO: Bootstrapify */

/* #soundboard-app {
} */

#soundboard-app button {
  width: 32%;
  vertical-align: middle;
  margin-bottom: 10px;
  max-height: 100px;
  overflow: hidden;
  inline-size: fit-content;
}
#soundboard-app button:active{
  margin-top: 2px;
  margin-bottom: 8px;
}

.soundboard-container {
  margin: 0px 20px 20px 20px;
  text-align: center;
}
