<div class="sb-extended-option-container">
    <div class="sb-extended-options row no-gutters active">
    <button class="sb-fav-button sb-extended-info-button col" onclick="SoundBoard.$favoriteFn('$identifyingPath'); SoundBoardApplication.toggleExtendedOptions(this); $removeFavFn"><i class="$star"></i></button>
    <button class="sb-repeat-button sb-extended-info-button col" onclick="SoundBoard.$loopFn('$identifyingPath'); SoundBoardApplication.toggleExtendedOptions(this);"><i class="fas fa-sync-alt $loopClass"></i></button>
    <button class="sb-repeatdelay-button sb-extended-info-button col"><i class="fas fa-history"></i></button>
    </div>
    </div>